<div id="welcome">
<h1>Welcome to Traffic Spy! Here is your account overview:</h1>
</div>
<div id="urls">
  <h2>Top requested URL's:</h2>
  <% urls.each_with_index do |url, index| %>
    <ul>
      <li><%= index+1 %>:  <%= url %></li>
    </ul>
  <% end %>
</div>
<div id="browsers">
  <h2>Browsers Used:</h2>
  <% browsers.each do |browser| %>
    <ul>
      <li><%= browser %></li>
    </ul>
    <% end %>
  </div>
