<div id="times">
<h1>Event Requests listed by Time for <%= event_name %>:</h1>
<% event_times_hash.each do |hour, frequency| %>
  <h2>Hour <%= hour %>:  <%= frequency %> requests</h2>
<% end %>
</div>
<div id="total">
  <h1>Total Events:  <%= total_events %></h1>
</div>
